$rounded-none: calcRem(0px) !default;
$rounded-sm: calcRem(2px) !default;
$rounded: calcRem(4px) !default;
$rounded-md: calcRem(6px) !default;
$rounded-lg: calcRem(8px) !default;
$rounded-full: calcRem(9999px) !default;
