// Breakpoint
//
$bp-xs: 0;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

// Container width for edges on the screen
//
$xs-margin-x: 6%;
$sm-margin-x: 6%;
$md-margin-x: 6%;
$lg-margin-x: 6%;
$xl-margin-x: 5%;
