// Breakpoint
//
$bp-xs: 0;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

// Container width for edges on the screen
//
$sm-margin-x: 540px;
$md-margin-x: 720px;
$lg-margin-x: 960px;
$xl-margin-x: 1140px;
