// Breakpoint
//
$bp-xs: 0 !default;
$bp-sm: 576px !default;
$bp-md: 768px !default;
$bp-lg: 992px !default;
$bp-xl: 1200px !default;

// Container width for edges on the screen
//
$xs-margin-x: 6% !default;
$sm-margin-x: 6% !default;
$md-margin-x: 6% !default;
$lg-margin-x: 6% !default;
$xl-margin-x: 5% !default;
