$black: #000 !default;
$white: #fff !default;

$gray-100: #f7fafc !default;
$gray-200: #edf2f7 !default;
$gray-300: #e2e8f0 !default;
$gray-400: #cbd5e0 !default;
$gray-500: #a0aec0 !default;
$gray-600: #718096 !default;
$gray-700: #4a5568 !default;
$gray-800: #2d3748 !default;
$gray-900: #1a202c !default;

$red-100: #fff5f5 !default;
$red-200: #fed7d7 !default;
$red-300: #feb2b2 !default;
$red-400: #fc8181 !default;
$red-500: #f56565 !default;
$red-600: #e53e3e !default;
$red-700: #c53030 !default;
$red-800: #9b2c2c !default;
$red-900: #742a2a !default;

$orange-100: #fffaf0 !default;
$orange-200: #feebc8 !default;
$orange-300: #fbd38d !default;
$orange-400: #f6ad55 !default;
$orange-500: #ed8936 !default;
$orange-600: #dd6b20 !default;
$orange-700: #c05621 !default;
$orange-800: #9c4221 !default;
$orange-900: #7b341e !default;

$yellow-100: #fffff0 !default;
$yellow-200: #fefcbf !default;
$yellow-300: #faf089 !default;
$yellow-400: #f6e05e !default;
$yellow-500: #ecc94b !default;
$yellow-600: #d69e2e !default;
$yellow-700: #b7791f !default;
$yellow-800: #975a16 !default;
$yellow-900: #744210 !default;

$green-100: #f0fff4 !default;
$green-200: #c6f6d5 !default;
$green-300: #9ae6b4 !default;
$green-400: #68d391 !default;
$green-500: #48bb78 !default;
$green-600: #38a169 !default;
$green-700: #2f855a !default;
$green-800: #276749 !default;
$green-900: #22543d !default;

$teal-100: #e6fffa !default;
$teal-200: #b2f5ea !default;
$teal-300: #81e6d9 !default;
$teal-400: #4fd1c5 !default;
$teal-500: #38b2ac !default;
$teal-600: #319795 !default;
$teal-700: #2c7a7b !default;
$teal-800: #285e61 !default;
$teal-900: #234e52 !default;

$blue-100: #ebf8ff !default;
$blue-200: #bee3f8 !default;
$blue-300: #90cdf4 !default;
$blue-400: #63b3ed !default;
$blue-500: #4299e1 !default;
$blue-600: #3182ce !default;
$blue-700: #2b6cb0 !default;
$blue-800: #2c5282 !default;
$blue-900: #2a4365 !default;

$indigo-100: #ebf4ff !default;
$indigo-200: #c3dafe !default;
$indigo-300: #a3bffa !default;
$indigo-400: #7f9cf5 !default;
$indigo-500: #667eea !default;
$indigo-600: #5a67d8 !default;
$indigo-700: #4c51bf !default;
$indigo-800: #434190 !default;
$indigo-900: #3c366b !default;

$purple-100: #faf5ff !default;
$purple-200: #e9d8fd !default;
$purple-300: #d6bcfa !default;
$purple-400: #b794f4 !default;
$purple-500: #9f7aea !default;
$purple-600: #805ad5 !default;
$purple-700: #6b46c1 !default;
$purple-800: #553c9a !default;
$purple-900: #44337a !default;

$pink-100: #fff5f7 !default;
$pink-200: #fed7e2 !default;
$pink-300: #fbb6ce !default;
$pink-400: #f687b3 !default;
$pink-500: #ed64a6 !default;
$pink-600: #d53f8c !default;
$pink-700: #b83280 !default;
$pink-800: #97266d !default;
$pink-900: #702459 !default;
