// Default font family
//
$font-family: "Muli", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji";

// Font size
//
$font-xs: calcRem(12px);
$font-sm: calcRem(14px);
$font-base: calcRem(16px);
$font-lg: calcRem(18px);
$font-xl: calcRem(20px);
$font-2xl: calcRem(24px);
$font-3xl: calcRem(30px);
$font-4xl: calcRem(36px);
$font-5xl: calcRem(48px);
$font-6xl: calcRem(64px);

// Font weight
//
$weight-hairline: 100;
$weight-thin: 200;
$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;
$weight-extrabold: 800;
$weight-black: 900;

// Letter spacing
//
$tracking-tighter: calcEm(-0.8px);
$tracking-tight: calcEm(-0.4px);
$tracking-normal: calcEm(0px);
$tracking-wide: calcEm(0.4px);
$tracking-wider: calcEm(0.8px);
$tracking-widest: calcEm(1.6px);

// Line Height
//
$leading-none: 1;
$leading-tight: 1.25;
$leading-snug: 1.375;
$leading-normal: 1.5;
$leading-relaxed: 1.625;
$leading-loose: 2;
