// Spaces in rems
//
$space-0: calcRem(0px);
$space-1: calcRem(4px);
$space-2: calcRem(8px);
$space-3: calcRem(12px);
$space-4: calcRem(16px);
$space-5: calcRem(20px);
$space-6: calcRem(24px);
$space-8: calcRem(32px);
$space-10: calcRem(40px);
$space-12: calcRem(48px);
$space-16: calcRem(64);
$space-20: calcRem(80px);
$space-24: calcRem(96px);
$space-32: calcRem(128px);
$space-40: calcRem(160px);
$space-48: calcRem(192px);
$space-56: calcRem(224px);
$space-64: calcRem(256px);

// Spaces in percentages for easy mapping
//
$space-1-2: 50%;
$space-1-3: 33.333333%;
$space-2-3: 66.666667%;
$space-1-4: 25%;
$space-2-4: 50%;
$space-3-4: 75%;
$space-1-5: 20%;
$space-2-5: 40%;
$space-3-5: 60%;
$space-4-5: 80%;
$space-1-6: 16.666667%;
$space-2-6: 33.333333%;
$space-3-6: 50%;
$space-4-6: 66.666667%;
$space-5-6: 83.333333%;
$space-1-12: 8.333333%;
$space-2-12: 16.666667%;
$space-3-12: 25%;
$space-4-12: 33.333333%;
$space-5-12: 41.666667%;
$space-6-12: 50%;
$space-7-12: 58.333333%;
$space-8-12: 66.666667%;
$space-9-12: 75%;
$space-10-12: 83.333333%;
$space-11-12: 91.666667%;
