.header {
  position: sticky;
  top: 0;
  background-color: $white;
  z-index: z(navbar);
  box-shadow: $shadow;

  .menu-toggle-container {
    padding: $space-10 0;
    display: flex;
    width: 100%;
    align-items: center;
    height: $space-12;
    justify-content: space-between;
  }
}
.menu-toggle {
  display: flex;
  align-items: center;
  background: none;
  border: 0;
  cursor: pointer;
  z-index: z(toggle);
  outline: none;

  svg {
    width: $space-6;
    color: $gray-900;
  }

  span {
    margin-left: $space-3;
    font-weight: $weight-semibold;
    color: $gray-900;
  }
}

.hues-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: $weight-semibold;
  outline: none;

  &-inner {
    display: flex;
    align-items: center;
  }

  svg {
    height: $space-6;
  }

  &-text {
    display: none;
  }
}

@include breakpoint(md, up) {
  .hues-toggle-text {
    display: block;
    margin-left: $space-3;
  }
}
