.hero-wrapper {
  padding: $space-12 0;
}

.hero-subtitle {
  text-transform: uppercase;
  font-weight: $weight-semibold;
  letter-spacing: $tracking-wide;
}

.hero-title {
  margin-top: $space-3;
  font-weight: $weight-extrabold;
  font-size: $font-4xl;
}

.hero-desc {
  margin-top: $space-5;
  font-size: $font-lg;
  line-height: $leading-normal;
}

.hero-right {
  max-width: 580px;
  margin-top: $space-8;
  margin-left: auto;
  margin-right: auto;

  img {
    border-radius: $rounded-lg;
    box-shadow: $shadow-2xl;
  }
}

.hero-right-inner {
  position: relative;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@include breakpoint(sm, up) {
  .hero-title {
    font-size: $font-5xl;
  }

  .hero-desc {
    font-size: $font-xl;
  }
}

@include breakpoint(md, up) {
  .hero-title {
    font-size: 56px;
  }
}

@include breakpoint(lg, up) {
  .hero-container-inner {
    display: flex;
    margin-left: -$space-4;
    margin-right: -$space-4;
  }
  .hero-left,
  .hero-right {
    width: $space-1-2;
    padding-left: $space-4;
    padding-right: $space-4;
  }

  .hero-right {
    max-width: 100%;
    padding-left: $space-10;
  }
}
//Subscribe field
.subscribe-field {
  margin-top: $space-10;

  &-intro {
    font-weight: $weight-semibold;
  }

  &-inner {
    margin-top: $space-5;
    position: relative;
    display: flex;
  }

  .subscribe-input {
    height: 60px;
    border-radius: $rounded-lg;
    border: 1px solid $gray-400;
    padding-left: $space-4;
    display: block;
    width: 100%;
    outline: none;

    &:focus {
      border-color: $gray-900;
    }

    &::placeholder {
      color: $gray-700;
    }
  }

  .subscribe-button-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding-right: $space-1;
  }

  .subscribe-button {
    height: 50px;
    border-radius: $rounded;
    border: none;
    padding: 0 $space-6;
    cursor: pointer;
    font-weight: $weight-semibold;
    letter-spacing: $tracking-wide;
    transition: 200ms ease;

    &:hover {
      opacity: 0.9;
    }
  }

  .subscribe-policy {
    font-size: $font-sm;
    margin-top: $space-6;

    a {
      text-decoration: underline;
      font-weight: $weight-semibold;
      letter-spacing: $tracking-wide;
    }
  }
}

@include breakpoint(sm, up) {
  .subscribe-field .subscribe-field-inner {
    max-width: 438px;
  }
}
//SVG
.svg-container {
  svg {
    width: 100%;
  }
}

@include breakpoint(sm, up) {
  .svg-container svg {
    margin-top: $space-10;
  }
}

@include breakpoint(lg, up) {
  .svg-container svg {
    margin-top: 0;
  }
}
