.property-wrapper {
  padding: $space-12 0;
}

.property-intro {
  font-size: $font-3xl;
  text-align: center;
  font-weight: $weight-bold;
}

.property-intro-info {
  font-size: $font-lg;
  text-align: center;
  margin-top: $space-4;
  line-height: $leading-normal;
}

.property-container {
  margin-top: $space-12;
}

.property-title {
  font-size: $font-lg;
  font-weight: $weight-semibold;
}

.property-info {
  margin-top: $space-6;
}

.property-desc {
  display: flex;
  align-items: center;
  margin-top: $space-4;

  &:first-of-type {
    margin-top: 0;
  }
}

.property-name {
  margin-left: $space-4;
}

@include breakpoint(sm, up) {
  .property-flexed-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$space-6;
    margin-right: -$space-6;
  }

  .property-container {
    width: $space-1-2;
    padding-left: $space-6;
    padding-right: $space-6;
  }
}

@include breakpoint(lg, up) {
  .property-container {
    width: $space-1-4;
  }

  .property-intro {
    max-width: 796px;
    margin-left: auto;
    margin-right: auto;
  }
}
