.section-hues {
  margin-top: $space-8;

  &-title {
    font-size: $font-lg;
    font-weight: $weight-semibold;
  }

  &-subtitle {
    margin-top: $space-1;
    font-size: $font-sm;
  }

  &-container {
    margin-top: $space-5;
  }

  .button-hues-container {
    width: 100%;
    margin-top: $space-2;
  }

  .button-hues {
    width: 100%;
    display: flex;
    align-items: center;
    height: $space-12;
    padding: 0 $space-3;
    border: 2px solid $gray-700;
    border-radius: $rounded;
    background: none;
    cursor: pointer;
    transition: 200ms ease;
  }
}

.hues-display {
  padding: $space-3;
  border-radius: $rounded-full;
  border: 2px solid;
}

.hues-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: $space-3;
}

.section-color-name,
.color-hex {
  font-size: $font-sm;
  font-weight: $weight-semibold;
}

.section-color-name {
  text-align: left;
}

@include breakpoint(sm, up) {
  .section-hues {
    margin-top: $space-12;
  }

  .section-hues-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -$space-1;
    margin-right: -$space-1;

    .button-hues-container {
      width: $space-1-2;
      padding-left: $space-1;
      padding-right: $space-1;
    }
  }
}

@include breakpoint(lg, up) {
  .section-hues-container .button-hues-container {
    width: $space-1-3;
  }
}
