.service {
  margin-top: $space-8;
}

.service-wrapper {
  padding: $space-12 0;
}

.service-title {
  font-size: $font-3xl;
  font-weight: $weight-bold;
  text-align: center;
}

.service-desc {
  margin-top: $space-4;
  font-size: $font-lg;
  line-height: $leading-normal;
  text-align: center;
}

.service-inner {
  margin-top: $space-16;
}

.service-inner-title {
  font-size: $font-2xl;
  font-weight: $weight-bold;
}

.service-inner-desc {
  margin-top: $space-4;
  line-height: $leading-normal;
}

.service-offer-container {
  margin-top: $space-8;
}

.service-offer-wrapper {
  display: flex;
  margin-top: $space-4;

  &:first-of-type {
    margin-top: 0;
  }
}

.service-offer-title {
  font-weight: $weight-semibold;
}

.service-offer-desc {
  margin-top: $space-2;
  font-size: $font-sm;
  line-height: $leading-normal;
}

.service-offer-right {
  margin-left: $space-4;
}

.svg-container svg {
  width: 100%;
  margin-top: $space-8;
}

//Form
.service-inner-right {
  margin-top: $space-12;
  border-radius: $rounded-lg;
  box-shadow: $shadow-lg;
  overflow: hidden;
}

.form-wrapper {
  padding: $space-5;
}

.form-intro {
  display: flex;
  align-items: center;
}

.form-info-container {
  margin-left: $space-4;

  h4 {
    font-weight: $weight-bold;
  }

  p {
    font-size: $font-sm;
    margin-top: $space-1;
  }
}

.form-content {
  margin-top: $space-6;

  label {
    font-size: $font-sm;
    font-weight: $weight-bold;
  }

  input {
    display: block;
    width: 100%;
    height: $space-12;
    border: 1px solid;
    border-radius: $rounded-md;
    margin-top: $space-2;
    padding-left: $space-2;
    outline: none;
  }
}

.transaction-control {
  margin-top: $space-12;
}

.transaction-details {
  display: flex;

  .currency-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .country-input {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.transaction-country {
  position: relative;
  width: $space-5-12;

  input {
    padding-left: $space-10;
  }

  .country-flag {
    margin-top: $space-2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding-left: $space-2;
  }
}
.exchange-rate,
.recipient-container {
  margin-top: $space-6;
}

.form-button-container {
  margin-top: $space-8;
  background-color: $gray-100; // Need a dynamic color
  width: 100%;
}

.form-button {
  height: 76px;
  padding: 0 $space-5;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  a {
    text-decoration: none;
    font-size: $font-sm;
    font-weight: $weight-bold;
    letter-spacing: $tracking-wide;
  }

  .button-submit {
    border-radius: $rounded-md;
    padding: $space-4 $space-5;
    margin-left: $space-10;
    transition: 200ms ease;

    &:hover,
    &:focus {
      opacity: 0.9;
    }
  }
}

@include breakpoint(md, up) {
  .service-inner-right {
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
  }
}
// End form

// Payment details
.payment-inner-right {
  box-shadow: none;
  background-color: inherit;
  overflow: visible;
}

.payment-info {
  box-shadow: $shadow-lg;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $space-4;
  border-radius: $rounded-lg;
  margin-top: $space-3;

  &:first-of-type {
    margin-top: 0;
  }
}

.payment-details {
  display: flex;
  align-items: center;

  img {
    width: $space-10;
    border-radius: $rounded-full;
  }
}

.payment-details-wrapper {
  margin-left: $space-3;

  h5 {
    font-size: $font-sm;
  }

  .payment-amount {
    font-size: $font-sm;
    display: block;
    margin-top: $space-2;
  }

  .payment-currency {
    font-weight: $weight-semibold;
  }
}

.payment-status {
  height: $space-6;
  display: flex;
  align-items: center;

  padding: 0 $space-3;
  border-radius: $rounded-full;

  &-dot {
    display: block;
    height: 6px;
    width: 6px;
    border-radius: $rounded-full;
  }

  &-type {
    display: block;
    line-height: $leading-tight;

    font-size: $font-sm;
    font-weight: $weight-semibold;
    margin-left: $space-2;
  }
}
// Success
.payment-status-success {
  background-color: $green-100;

  .payment-status-dot {
    background-color: $green-500;
  }

  .payment-status-type {
    color: $green-800;
  }
}
// Processing
.payment-status-processing {
  background-color: $orange-100;

  .payment-status-dot {
    background-color: $orange-500;
  }

  .payment-status-type {
    color: $orange-800;
  }
}
// Failed
.payment-status-failed {
  background-color: $red-100;

  .payment-status-dot {
    background-color: $red-500;
  }

  .payment-status-type {
    color: $red-800;
  }
}

// End payment details

@include breakpoint(lg, up) {
  .service-intro {
    max-width: 796px;
    margin-left: auto;
    margin-right: auto;
  }
  .service-title {
    font-size: $font-4xl;
  }
  .service-inner {
    display: flex;
    align-items: center;
    margin-left: -$space-4;
    margin-right: -$space-4;
  }
  .service-inner-left,
  .service-inner-right {
    width: $space-1-2;
    margin-top: 0;
    padding-left: $space-4;
    padding-right: $space-4;
  }
  .order-1 {
    order: 1;
  }
  .order-2 {
    order: 2;
  }
  .service-inner-title {
    font-size: $font-3xl;
  }
  .service-inner-desc {
    font-size: $font-lg;
  }
  .service-offer-title {
    font-size: $font-lg;
  }
  .service-offer-desc {
    font-size: $font-base;
  }
}
