.test-container-global {
  padding: $space-12 0;
}

.test-main {
  border-bottom: 2px solid;
  padding: $space-8 0;

  &:last-of-type {
    border-bottom-color: transparent;
  }
}

.test-container {
  margin-top: $space-8;
}

.test-desc {
  line-height: $leading-normal;
  font-weight: $weight-medium;
  letter-spacing: $tracking-wide;
}

.test-inner {
  margin-top: $space-10;
  display: flex;
  align-items: center;
}

.test-img {
  width: $space-12;
  img {
    border-radius: $rounded-full;
    border: 2px solid;
  }
}

.test-details {
  margin-left: $space-4;
}

.test-name {
  display: block;
  font-weight: $weight-semibold;
  letter-spacing: $tracking-wide;
}

.test-position {
  display: block;
  margin-top: $space-1;
  font-weight: $weight-semibold;
  letter-spacing: $tracking-wide;
}

@include breakpoint(md, up) {
  .test-wrapper {
    display: flex;
    margin-left: -$space-6;
    margin-right: -$space-6;
  }

  .test-main {
    width: $space-1-2;
    padding-left: $space-6;
    padding-right: $space-6;
    border-bottom: 0px;
    border-right: 2px solid;

    &:last-of-type {
      border-right-color: transparent;
    }
  }
}
